---
import { Image } from 'astro:assets';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
	<main>
		<section class="bg-background dark:bg-gray-900">
			<div
				class="mx-auto grid max-w-screen-xl px-4 py-8 lg:grid-cols-12 lg:gap-8 lg:py-16 xl:gap-0"
			>
				<div class="mr-auto place-self-center lg:col-span-7">
					<h1
						class="mb-4 max-w-2xl font-yekan text-3xl font-extrabold leading-none tracking-tight dark:text-white md:text-4xl xl:text-5xl"
					>
						تلفن اینترنتی و خط تلفن ثابت اینترنتی
					</h1>
					<h2
						class="mb-4 max-w-2xl font-yekan text-xl font-extrabold leading-none tracking-tight dark:text-white md:text-2xl xl:text-3xl"
					>
						مشاوره، مقایسه و خرید هوشمندانه تلفن اینترنتی و مرکز تلفن ابری
					</h2>
					<p
						class="mb-6 max-w-2xl font-light text-gray-500 dark:text-gray-400 md:text-lg lg:mb-8 lg:text-xl"
					>
						خط تلفن ثابت اینترنتی دلخواه خود را انتخاب و با همراهی کارشناسان فروش در تمامی مراحل با
						اطمینان خرید کنید.
					</p>
					<a
						href="#"
						class="mr-3 inline-flex items-center justify-center rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
					>
						بیشتر بخوانید ؟
					</a>
					<a
						href="#"
						class="inline-flex items-center justify-center rounded-lg border border-gray-300 px-5 py-3 text-center text-base font-medium text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800"
					>
						ارتباط با کارشناس فروش
					</a>
				</div>
				<div class="hidden lg:col-span-5 lg:mt-0 lg:flex">
					<Image
						src="/callcenter.svg"
						alt="تصویر وکتور یک اوپراتور در حال استفاده از کال سنتر"
						width={400}
						height={400}
						loading={'lazy'}
						class="animate-bounce transition-all"
					/>
				</div>
			</div>
		</section>
	</main>
</MainLayout>
