---
import BaseLayout from 'layouts/Layout.astro';
---

<BaseLayout>
	<h1 class="text-red-500">Test Tailwind and Preline UI</h1>
	<button class="btn btn-outline btn-primary">Test BTN</button>
</BaseLayout>
