---
import BaseLayout from 'layouts/Layout.astro';
---

<BaseLayout>
	<section class="mt-3 my-2">
		<div class="collapse collapse-plus bg-gray-50 shadow-xl mb-2">
			<input type="radio" name="my-accordion-3" checked="checked" />
			<div class="collapse-title font-bold">
				<span class="text-2xl text-primary font-Yekan">اطلاعات سرور :</span>
				<span class="text-xl text-primary">185.141.215.53</span>
			</div>
			<div class="collapse-content">
				<div class="overflow-x-auto">
					<table class="table">
						<!-- head -->
						<thead>
							<tr class="text-primary text-md text-center">
								<th>نام مشتری</th>
								<th>نوع سرویس</th>
								<th>تاریخ خرید</th>
								<th>تاریخ انقضا</th>
								<th>وضعیت ترانک</th>
								<th>عملیات ها</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<!-- row 1 -->
							<tr>
								<td>
									<span class="font-bold">حسین محمدیان نژاد</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91092109</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس نقره ای یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری جدید</span
									>
								</td>
								<td>
									<span>1402</span>/<span>9</span>/<span>20</span>
								</td>
								<td>
									<span>1403</span>/<span>9</span>/<span>20</span>
									<br />
									<span class="badge badge-success w-20 badge-md text-white text-sm font-light"
										>365 روز</span
									>
								</td>
								<th>
									<span class="badge badge-success badge-lg text-white text-sm font-light"
										>فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
							<!-- row 2 -->
							<tr>
								<td>
									<span class="font-bold">امیر حیدری</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91301390</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس طلایی ای یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری دائم</span
									>
								</td>
								<td>
									<span>1399</span>/<span>5</span>/<span>12</span>
								</td>
								<td>
									<span>1402</span>/<span>10</span>/<span>1</span>
									<br />
									<span class="badge badge-warning w-20 badge-md text-white text-sm font-light"
										>9 روز</span
									>
								</td>
								<th>
									<span class="badge badge-success badge-lg text-white text-sm font-light"
										>فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
							<tr>
								<td>
									<span class="font-bold">مجتبی حیدری</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91301309</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس نقره ای یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری قدیمی</span
									>
								</td>
								<td>
									<span>1400</span>/<span>11</span>/<span>22</span>
								</td>
								<td>
									<span>1401</span>/<span>11</span>/<span>22</span>
									<br />
									<span class="badge badge-error w-20 badge-md text-white text-sm font-light"
										>اتمام</span
									>
								</td>
								<th>
									<span class="badge badge-error badge-lg text-white text-sm font-light"
										>غیر فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
							<tr>
								<td>
									<span class="font-bold">مرتضی حیدری</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91099010</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس پلاتنیوم یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری دائم</span
									>
								</td>
								<td>
									<span>1402</span>/<span>1</span>/<span>13</span>
								</td>
								<td>
									<span>1403</span>/<span>1</span>/<span>13</span>
									<br />
									<span class="badge badge-success badge-md text-white text-sm font-light"
										>110 روز</span
									>
								</td>
								<th>
									<span class="badge badge-warning badge-lg text-white text-sm font-light"
										>غیر فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="collapse collapse-plus bg-gray-50 shadow-xl mb-2">
			<input type="radio" name="my-accordion-3" />
			<div class="collapse-title font-bold">
				<span class="text-2xl text-primary font-Yekan">اطلاعات سرور :</span>
				<span class="text-xl text-primary">185.126.16.133</span>
			</div>
			<div class="collapse-content">
				<div class="overflow-x-auto">
					<table class="table">
						<!-- head -->
						<thead>
							<tr class="text-primary text-md text-center">
								<th>نام مشتری</th>
								<th>نوع سرویس</th>
								<th>تاریخ خرید</th>
								<th>تاریخ انقضا</th>
								<th>وضعیت ترانک</th>
								<th>عملیات ها</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<!-- row 1 -->
							<tr>
								<td>
									<span class="font-bold">حسین محمدیان نژاد</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91092109</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس نقره ای یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری جدید</span
									>
								</td>
								<td>
									<span>1402</span>/<span>9</span>/<span>20</span>
								</td>
								<td>
									<span>1403</span>/<span>9</span>/<span>20</span>
									<br />
									<span class="badge badge-success w-20 badge-md text-white text-sm font-light"
										>365 روز</span
									>
								</td>
								<th>
									<span class="badge badge-success badge-lg text-white text-sm font-light"
										>فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
							<!-- row 2 -->
							<tr>
								<td>
									<span class="font-bold">امیر حیدری</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91301390</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس طلایی ای یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری دائم</span
									>
								</td>
								<td>
									<span>1399</span>/<span>5</span>/<span>12</span>
								</td>
								<td>
									<span>1402</span>/<span>10</span>/<span>1</span>
									<br />
									<span class="badge badge-warning w-20 badge-md text-white text-sm font-light"
										>9 روز</span
									>
								</td>
								<th>
									<span class="badge badge-success badge-lg text-white text-sm font-light"
										>فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
							<tr>
								<td>
									<span class="font-bold">مجتبی حیدری</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91301309</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس نقره ای یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری قدیمی</span
									>
								</td>
								<td>
									<span>1400</span>/<span>11</span>/<span>22</span>
								</td>
								<td>
									<span>1401</span>/<span>11</span>/<span>22</span>
									<br />
									<span class="badge badge-error w-20 badge-md text-white text-sm font-light"
										>اتمام</span
									>
								</td>
								<th>
									<span class="badge badge-error badge-lg text-white text-sm font-light"
										>غیر فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
							<tr>
								<td>
									<span class="font-bold">مرتضی حیدری</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91099010</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس پلاتنیوم یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری دائم</span
									>
								</td>
								<td>
									<span>1402</span>/<span>1</span>/<span>13</span>
								</td>
								<td>
									<span>1403</span>/<span>1</span>/<span>13</span>
									<br />
									<span class="badge badge-success badge-md text-white text-sm font-light"
										>110 روز</span
									>
								</td>
								<th>
									<span class="badge badge-warning badge-lg text-white text-sm font-light"
										>غیر فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="collapse collapse-plus bg-gray-50 shadow-xl mb-2">
			<input type="radio" name="my-accordion-3" />
			<div class="collapse-title font-bold">
				<span class="text-2xl text-primary font-Yekan">اطلاعات سرور :</span>
				<span class="text-xl text-primary">93.115.148.157</span>
			</div>
			<div class="collapse-content">
				<div class="overflow-x-auto">
					<table class="table">
						<!-- head -->
						<thead>
							<tr class="text-primary text-md text-center">
								<th>نام مشتری</th>
								<th>نوع سرویس</th>
								<th>تاریخ خرید</th>
								<th>تاریخ انقضا</th>
								<th>وضعیت ترانک</th>
								<th>عملیات ها</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<!-- row 1 -->
							<tr>
								<td>
									<span class="font-bold">حسین محمدیان نژاد</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91092109</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس نقره ای یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری جدید</span
									>
								</td>
								<td>
									<span>1402</span>/<span>9</span>/<span>20</span>
								</td>
								<td>
									<span>1403</span>/<span>9</span>/<span>20</span>
									<br />
									<span class="badge badge-success w-20 badge-md text-white text-sm font-light"
										>365 روز</span
									>
								</td>
								<th>
									<span class="badge badge-success badge-lg text-white text-sm font-light"
										>فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
							<!-- row 2 -->
							<tr>
								<td>
									<span class="font-bold">امیر حیدری</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91301390</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس طلایی ای یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری دائم</span
									>
								</td>
								<td>
									<span>1399</span>/<span>5</span>/<span>12</span>
								</td>
								<td>
									<span>1402</span>/<span>10</span>/<span>1</span>
									<br />
									<span class="badge badge-warning w-20 badge-md text-white text-sm font-light"
										>9 روز</span
									>
								</td>
								<th>
									<span class="badge badge-success badge-lg text-white text-sm font-light"
										>فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
							<tr>
								<td>
									<span class="font-bold">مجتبی حیدری</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91301309</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس نقره ای یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری قدیمی</span
									>
								</td>
								<td>
									<span>1400</span>/<span>11</span>/<span>22</span>
								</td>
								<td>
									<span>1401</span>/<span>11</span>/<span>22</span>
									<br />
									<span class="badge badge-error w-20 badge-md text-white text-sm font-light"
										>اتمام</span
									>
								</td>
								<th>
									<span class="badge badge-error badge-lg text-white text-sm font-light"
										>غیر فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
							<tr>
								<td>
									<span class="font-bold">مرتضی حیدری</span>
									<br />
									<span class="badge badge-secondary text-white badge-lg font-light"
										>051-91099010</span
									>
								</td>
								<td>
									<div class="text-sm opacity-7">سرویس پلاتنیوم یک ساله</div>
									<span class="badge badge-secondary text-white badge-md font-light"
										>مشتری دائم</span
									>
								</td>
								<td>
									<span>1402</span>/<span>1</span>/<span>13</span>
								</td>
								<td>
									<span>1403</span>/<span>1</span>/<span>13</span>
									<br />
									<span class="badge badge-success badge-md text-white text-sm font-light"
										>110 روز</span
									>
								</td>
								<th>
									<span class="badge badge-warning badge-lg text-white text-sm font-light"
										>غیر فعال</span
									>
								</th>
								<th class="flex flex-col justify-center items-center">
									<div>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-error"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												></path>
											</svg>
										</button>
										<button
											><svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="w-6 h-6 text-success"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
											</svg>
										</button>
									</div>
									<button
										><svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-warning"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											></path>
										</svg>
									</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
