---
import BaseLayout from '../../layouts/Layout.astro';
---

<BaseLayout>
	<!-- <h1 class="text-red-500 font-normal">تست متن فارسی با انواع فونت</h1>
	<button class="btn btn-outline btn-primary">Test BTN</button> -->
</BaseLayout>
